@(discussion: Discussion)

@import helper._
@import play.api.mvc.Results._

@main("User Interface") {
@defining(Message.getByUserId( session.get("userid").toLong ) ) {message  =>
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header" class="ui-responsive">
        <h3>
            Melden
        </h3>
    </div>
    <div data-role="main" class="ui-content">
	<h3 class="ui-bar ui-bar-a ui-corner-all" id="title">Thema: @discussion.getTitle()</h3>
	<h3>@session.get("name")
@if( message != null) {
	
	Sie haben sich gemeldet:</h3>
		<a href="@routes.Application.deleteMessage(message.id)" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left" rel="internal" data-ajax="false" data-transition="slidedown" style="background:#fa000a">Abbrechen</a>
} else {
  w&auml;hlen sie eine Art der Meldung:</h3>
		<a href="@routes.Application.newMessage("Neuer Punkt")" class="ui-btn ui-corner-all ui-icon-star ui-btn-icon-left" rel="internal" data-ajax="false" data-transition="slideup">Neuer Punkt</a>
		<a href="@routes.Application.newMessage("Antwort")" class="ui-btn ui-corner-all ui-icon-user ui-btn-icon-left" rel="internal" data-ajax="false" data-transition="slideup">Auf einen Punkt antworten</a>
		<a href="@routes.Application.newMessage("Metastatement")" class="ui-btn ui-corner-all ui-icon-alert ui-btn-icon-left" rel="internal" data-ajax="false" data-transition="slideup">Metastatement</a>
}
    </div>
</div>

<div data-role="page" id="pagetwo">
    <div data-theme="a" data-role="header">
        <h3>
           Reden
        </h3>
    </div>
    <div data-role="main" class="ui-content">
		<h3 class="ui-bar ui-bar-a ui-corner-all" id="title">Thema: @discussion.getTitle()</h3>
		<h3>@session.get("name"), Sie reden gerade</h3>
		@if(message != null) {
		<a href="@routes.Application.deleteMessage(message.id)" class="ui-btn ui-corner-all ui-icon-check ui-btn-icon-left" rel="internal" data-ajax="false" style="background:#1eb81e; color:black" data-transition="slideup">Fertig!</a>
	}
	</div>
</div>
<noscript>Javascript ist ausgeschaltet oder wird nicht unterst&uuml;zt. Um automatisch zu aktualisieren aktivieren sie bitte JavaScript.</noscript>

		<script type="text/javascript" charset="utf-8">
			$(document).on("pagebeforeshow",function(){
                history.replaceState({id: 'history'}, '', $.mobile.path.getDocumentUrl());
                
					@if(message !=null) {
						@if( message.priority == 0 ) {
							$.mobile.pageContainer.pagecontainer("change", "#pagetwo", {allowSamePageTransition: false, reloadPage: false, changeHash: false, transition: "slideup"});	
						}
					}
				  		
            }); 
			
			if (!!window.EventSource) {
				var source = new EventSource("@routes.Application.watchMessages()");
					source.addEventListener("message", function(e) { 
						console.log(e.data);
									function getCookie(cname)
			{
				var name = cname + "=";
				var ca = document.cookie.split('&');
				for(var i=0; i<ca.length; i++) 
				{
					var c = ca[i].trim();
					if (c.indexOf(name)==0) {
						if(c.substring(c.length-1,c.length) == "\"")
							return c.substring(name.length,c.length-1);
						else
							return c.substring(name.length,c.length);
					}
				}
				return "";
			}
			var sessionmessage = getCookie("messageid");


						if( e.data == sessionmessage) {
							$.mobile.pageContainer.pagecontainer("change", jsRoutes.controllers.Application.deleteMessage(e.data).url , {allowSamePageTransition: true, reloadPage: true, changeHash: false, transition: "slidedown"});	
						}
						var splitstr = e.data.split(":");
						if( splitstr[0] == "giveTalktime" ) {
							if( splitstr[1] == sessionmessage) {
								$.mobile.pageContainer.pagecontainer("change", "#pagetwo", {allowSamePageTransition: true, reloadPage: false, changeHash: false, transition: "slideup"});	
							}
						}
						if( splitstr[0] == "newTitle" ) {
							$("#title").html("Thema: "+splitstr[1]);
						}
                });
			} else {
				$("#page1").html("Sorry. This browser doesn't seem to support Server sent event. Check <a href='http://html5test.com/compare/feature/communication-eventSource.html'>html5test</a> for browser compatibility."); 
			}
		</script>
}
}
