@(name: String, discussion: Long)

@import helper._

@main("Namen eingeben") {
	<div data-role="page">
		<div data-role="header">
		@if( discussion != 0 ) {
			<h1>Diskussionstitel</h1>
		}
		</div>
		
		<div data-role="main" class="ui-content">
			@form(routes.Application.choseName(discussion)) {
				<div class="ui-field-contain">
					<label for="name">Namen eingeben</label>
					<input type="text" name="name" id="name">
				</div>
				<input type="submit" value="Teilnehmen">
			}
		</div>
	</div>
}
