@(messages: List[Message], discussionid: Long)
@import helper._

@main("Moderator Interface") {
	<div data-role="page" id="page1">
		<div data-theme="a" data-role="header">
        <h3>
            Moderator Interface
        </h3>
		</div>
		<div data-role="main" class="ui-content">
			<h3>Hallo @session.get("name") sie k&ouml;nnen hier die Diskussion moderieren.</h3>
			<h3 class="ui-bar ui-bar-a ui-corner-all">
				<a href="@routes.Application.showDiscussion(discussionid)#setTitle" data-rel="popup" class="ui-btn ui-corner-all ui-icon-edit ui-btn-icon-left ui-btn-inline ui-mini">Edit</a>
				Thema: <span id="title">@Discussion.find.ref(discussionid).getTitle()</span>
				
			</h3>
			<p>Link um an der Diskussion teilzunehmen:  http://smartdiscuss.no-ip.org/discuss/@discussionid</p>
			<ul data-role="listview" id="list">
				@test(messages)
			</ul>
		</div>
					<div data-role="popup" id="setTitle" class="ui-content">
				<label for="newTitle">Aktuelles Thema</label>
				<input type="text" name="newTitle" id="newTitle">
				<a href="#" data-rel="back" rel="internal" id="butt" class="ui-btn ui-corner-all">&Auml;ndern</a>
			
			</div>
	</div>

		<script type="text/javascript" charset="utf-8">
			$(document).on("pageshow",function(){
                history.replaceState({id: 'history'}, '', "@routes.Application.showDiscussion(discussionid)");  
            }); 
            
            $("#butt").click(function(event) {
				$("#title").html("Thema: " + $("#newTitle").val());
				console.log("Thema: " + $("#newTitle").val());
				var url = jsRoutes.controllers.Application.setDiscussionTitle($("#newTitle").val()).url;
				$.get(url, function(data,status) {
					console.log(status);
				});
			});
			
			
			function preventClick(event) {
				event.preventDefault();
				event.stopPropagation();
				
							$.get(this.href, function(data,status) {
												var url = "@routes.Application.listMessages(discussionid)";
							$.get(url, function(data,status) {
								$("#list").html(data);
								$("#list").listview("refresh");
								$(".listupdate").on("click" , preventClick);
							});
							});
			}
			if (!!window.EventSource) {
				var source = new EventSource("@routes.Application.watchMessages()");
					source.addEventListener("message", function(e) { 
						if( e.data == "newMessage" ) {
							var url = "@routes.Application.listMessages(discussionid)";
							$.get(url, function(data,status) {
								$("#list").html(data);
								$("#list").listview("refresh");
							});
						}
						var splitstr = e.data.split(":");
						if( splitstr[0] == "newTitle" ) {
							$("#title").html(splitstr[1]);
						}
                });
			} else {
				$("#list").html("Sorry. This browser doesn't seem to support Server sent event. Check <a href='http://html5test.com/compare/feature/communication-eventSource.html'>html5test</a> for browser compatibility."); 
			}
		</script>

}

