@(discussions: List[Discussion])

@import helper._

@main("Moderator Interface") {
	<div data-role="page">
		    <div data-theme="a" data-role="header">
				<h3>
					&Uuml;bersicht Ihrer Diskussionen
				</h3>
			</div>
		<div data-role="main" class="ui-content">
			<h3>Hallo @session.get("name"). Bitte w&auml;hlen sie die Diskussion, die sie moderieren m&ouml;chten:</h3>
			<ul data-role="listview">	
			@for( discussion <- discussions) {
				<li>
					<a href="@routes.Application.showDiscussion(discussion.getId())" data-ajax="false">Thema: @discussion.getTitle()</a>
				</li>
			}
			</ul>
			<a href="#newDisc" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-edit ui-btn-icon-left" data-history="false">Neue Diskussion</a>
			
			<div data-role="popup" id="newDisc" class="ui-content">
			@form(routes.Application.newDiscussion()) {
				<label for="title">Thema der Diskussion</label>
				<input type="text" name="title" id="title">
				<input type="submit" data-inline="true" value="Erstellen">
			}
			</div>
		</div>
	</div>
}

