@(messages: List[Message])
@import helper._
@if( !messages.isEmpty ){
@if( messages.head.priority != 0) {
	<li data-role="list-divider">Liste der Meldungen</li>
}
}
@for( p <- messages) {
	
	@if( p.priority == 0) {
			<li data-role="list-divider" >Redet zur Zeit</li>
			<li class="ui-grid-b ui-responsive">
			<div class="ui-block-a">Teilnehmer: @messages.head.participant.name</div>
			<div class="ui-block-b">Meldung: @messages.head.state</div>
			<div class="ui-block-c"><a href="@routes.Application.changePriority("end", messages.head.id)" class="ui-btn ui-btn-inline ui-btn-icon-notext ui-corner-all ui-icon-delete listupdate"></a></div>
		</li>
		<li data-role="list-divider">Weitere Meldungen</li>
	} else {
		
		<li class="ui-grid-c ui-responsive">
			<div class="ui-block-a">@p.priority .Teilnehmer: @p.participant.name</div>
			<div class="ui-block-b">Art der Meldung: @p.state</div>
			<div class="ui-block-c">Zeit seit Meldung: @((System.currentTimeMillis() - p.time.getTime())/ (60 * 1000) % 60) min</div>
			<div class="ui-block-d">
				@if(p != messages.head && p.priority != 1) {
					<a href="@routes.Application.changePriority("up", p.id)" class="ui-btn ui-btn-inline ui-btn-icon-notext ui-corner-all ui-icon-carat-u listupdate">Up</a>
				}
				@if(p != messages.last) {
					<a href="@routes.Application.changePriority("down", p.id)" class="ui-btn ui-btn-inline ui-btn-icon-notext ui-corner-all ui-icon-carat-d listupdate">Down</a>
				}
				<a href="@routes.Application.changePriority("talk", p.id)" class="ui-btn ui-btn-inline ui-btn-icon-notext ui-corner-all ui-icon-comment listupdate">give Time</a>
			</div>
		</li>
		<script>$(".listupdate").on("click" , preventClick);</script>
	}
}
